---
layout: base
permalink: /
---

  <!-- Home page post list -->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-md-offset-1">

        {% if site.post.size == 0 %}
        <h3>No post yet</h3>
        {% else %}
        {% for post in site.posts limit: 10 %}
        <div class="post-item-wrapper">
          <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
          <div class="post-excerpt">
            <!-- Post Date and time -->
            <div class="date-content">
              <div class="date"><i class="fa fa-calendar"></i> {{ post.date | date: "%-d %B %Y"}}</div>
              <div class="time"><i class="fa fa-clock-o"></i> {{ post.date | date: "%I:%M:%p" }}</div>
            </div>
            <!-- Post Excerpt -->
            <div class="excerpt">
              <p>
                {{ post.content | strip_html | truncatewords: 45 }} <br>
                <a href="{{ post.url }}">Read more...</a>
              </p>
            </div>
            <!-- Post tags -->
            {% if post.tags %}
            <div class="tags">
              {% for tag in post.tags %}
              <a class="tag" href="{{ sitle.url }}/tag/{{ tag }}"><i class="fa fa-tags"></i> {{ tag }}</a>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        {% endif %}
        
      </div>
    </div>
  </div>
